
<br/>
<div class="row">
    <div *ngFor = "let project of projects" class="col-lg-4 col-md-6 mb-r">
                        
    <!--Card-->
    <div class="card card-cascade" style="align-items:center">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="https://picsum.photos/200/200?image=885" class="circle-image" alt="">
            <a>
                <div class="mask waves-effect waves-light"></div>
            </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title"><strong>{{project.name}}</strong></h4>
            <h5>{{project.year}}</h5>

            <p class="card-text">
                {{project.description}}
            </p>
            <!-- <a type="button" class="btn-floating btn-fb waves-effect waves-light">
                Check it out!
            </a> -->
        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->
    </div>
</div>