<!--Grid row-->
<div class="row">

  <!--Grid column-->
  <div class="col-md-6">

      <!--Card-->
      <div class="card testimonial-card">

          <!--Bacground color-->
          <div class="card-up indigo lighten-1">
          </div>

          <!--Avatar-->
          <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
          </div>

          <div class="card-body">
              <!--Name-->
              <h4 class="card-title">Anna Doe</h4>
              <hr>
              <!--Quotation-->
              <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
          </div>

      </div>
      <!--/.Card-->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6">

      <!--Card-->
      <div class="card testimonial-card">

          <!--Bacground color-->
          <div class="card-up aqua-gradient">
          </div>

          <!--Avatar-->
          <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive">
          </div>

          <div class="card-body">
              <!--Name-->
              <h4 class="card-title">Martha Smith</h4>
              <hr>
              <!--Quotation-->
              <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
          </div>

      </div>
      <!--/.Card-->

  </div>
  <!--Grid column-->

</div>
<!--Grid row-->