/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'Times New Roman', Times, serif
}

.vertical-center{
  min-height: 85%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 85vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.circle-image {
    border-radius:100% !important;
    margin: 8px;
    height: 200px;
    width: 200px;
    align-self: center
}

/* Dirty fix for mdb error */
i.fa-bars{
    display: none !important;
}

.header-item{
    align-items: center
}